/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* My own CSS reset */

  ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  }

  textarea:focus, input:focus{
    outline: none; /* Removes the outline on form Inputs */
}

  input{
    border: none;
}
  /* CSS reset over */

  @font-face {
    font-family: 'khmenuregular';
    src: url('fonts/khmenu-webfont.woff2') format('woff2'),
         url('fonts/khmenu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'khgummiregular';
  src: url('fonts/khgummi-webfont.woff2') format('woff2'),
       url('fonts/khgummi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body{
    background: no-repeat url(background/__sora_and_kairi_kingdom_hearts_and_1_more_drawn_by_nomura_tetsuya__4a9a9205493568ed112c5dd7309ee34b.jpg);
    background-size: auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

form{

    width:450px;
    margin-top:10px;
    /* padding:30px; */

    border-radius: 3px;

    font-family:khmenuregular;
    font-size: 24px;

}
input,label{
    width:80%;
    margin:15px 20px 45px;
    border: none;
    border-radius: 10px;

    font-weight:lighter;
}
img{
    position: absolute;
    width:600px;
    height:300px;
    left:583px;
}
.header{
  font-family: khgummiregular,Roboto;
  font-size: 24px;
  color: grey;
  background-color: rgba(255, 255, 255, .5);
  
  
  padding:30px;
  margin:0px 30px 30px 0px;
  width:550px;
}
.email{
  margin:15px
}

.submit{
  border: 3px solid black;
}

span{
  font-weight: lighter;
  font-size:16px;
  color:grey;
}

input:invalid{
  border: 3px solid lightcoral;
}

input:focus,.submit:focus{
  border: 3px solid lightseagreen;
  background-color: lightblue;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  background-color: rgba(130,130,130,.5)
}


